.wrapper {
  padding: 15px 50px;
  width: -webkit-fill-available;

  background-color: rgba(0, 7, 45, 1);
  color: rgba(255, 251, 251, 1);
  text-transform: uppercase;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0%;
}

.navMenus {
  display: flex;
  align-items: center;

  column-gap: 2px;
  user-select: none;
}

.navMenus a {
  transition: 0.2s ease-in;
  padding: 8px 12px;
  border-radius: 50px;
}

.navMenus a:hover {
  background-color: #ffffff33;
}

.logoutImg {
  margin-left: 10px;

  width: 30px;
  height: 25px;

  cursor: pointer;
}

.wrapper a {
  color: white;
  text-decoration: none;
}

.wrapper b {
  font-size: large;
  user-select: none;
}

.wrapper a:hover {
  color: 'grey';
  transition: 0.2s ease-in;
}
